button {
	background-color: none;
};15


.v-flex {
	display: flex;
	flex-direction: column;
}
.v-c-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.v-l-flex {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.c-c-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-c-flex {
	display: flex;
	align-items: center;
	justify-content: left;
}

.no-margin {
	margin: 0px !important;
}
/* general style for item*/
.line-item-grid {
	display: grid;
	grid-template-areas: "itemCheck itemTitle itemOptions";
	width: inherit;
}

.item {
	max-width: 350px;
	margin-bottom: 20px;
	transition: 0.5;
}

.line-container {
  background-color: #F4EAE0;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  min-height: 25px;
  max-width: 350px;
  min-width: 346px;
  border: 2px solid black;
  position: relative;
}

/*general elements of items*/

.deleted-item {
	width: max-content;
	margin-bottom: 10px;
}

.restore-btn {
	min-width: 250px;
	max-width: 250px;
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-right: 2px solid black;
	height: 20px;
	font-size: 14px;
	background-color: #2b7dbf;
	color: white;
	transition: 0.5s;
}

.restore-btn:hover {
	background-color: #39A7FF;
}
.check-btn {
	height: 15px;
	width: 15px;
	border-radius: 3px;
	border: 2px solid #39A7FF;
	margin: 5px;
}

.check-btn:hover {
	background-color: #87C4FF;
}

.check-btn-done {
	border: 2px solid #427D9D;
	background-color: #4CB9E7;
}

.cross-title {
	text-decoration-line: line-through;
	color: #4CB9E7;
}

.opacity-done {
	opacity: 50%;
}

.title-cont {
	grid-area: itemTitle;
	width: 100%;
	height: 100%;
}

.options-cont {
	width: 100%;
	height: 100%;
}

.options-btn {
	width: 100%;
	height: 100%;
	transition: 0.2s;
}

.options-btn:hover {
	/color: red;
}

.line-n-Menu {
	margin-bottom: 120px;
}

.obj-menu-opt {
	margin-bottom: 10px;
	transition: 0.5s;
	text-decoration: none;
}

.obj-menu-opt:hover {
	color: black;
	text-decoration: underline;
}

.menu-div {
	position: relative;
}

.obj-menu {
	padding: 0px 10px;
	background-color: #fbf9f1;
	border: 2px solid #e5e1da;
	width: min-content;
	height: min-content;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	color: #3d3b40;
	position: absolute;
	top: 25px;
	z-index: 222;
}

.select {
	width: 100%;
	margin-bottom: 10px;
}

.update-btn {
	border-radius: 10px;
	border: 1px solid black;
	transition: 0.4s;
}

.update-btn:active {
	border: 1px solid orange;
}

/*user preferences*/
.set-btn {
	border: 2px solid purple;
}

.wrapper-alert {
	position: absolute;
}

.background-alert {
	width: 100vw;
	height: 100vh;
	background: rgb(0 0 0 / 0.6);
	position: relative;
}

.central-window-alert {
	position: absolute;
	top: 20%;
	left: 50%;
}

/*Specific  to type/kind of item*/
.rec-wrapper {
	height: auto;
	min-width: max-content;
	display: flex;
	flex-direction: column;
}

.rec-wrapper > .item {
	margin: 0px;
}

.rec-bottom {
	height: auto;
	background-color: #FDF7E4;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	padding: 10px;
	padding-left: 20px;
	word-wrap: break-word;
	width: auto;
	max-width: inherit;
}

	/*checklist*/
.checklist-item {
	padding-left: 40px;
}

.task-wrapper > button {
	margin-right: 15px;
}

