body {
	width: 100vw;
	height: 100vh;
	padding: 0px;
	margin: 0px;
}

main {
	width: 100%;
	height: 100%;
	background-color: red;
	padding: 0px;
	margin: 0px;
}

button {
	cursor: pointer;
	border: none;
	transition: 0.3s;
}

.parent-grid {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 0px;
	background-color: blue;
	height: 98%;
	width: 99%;
}

.main-grid {
	grid-area: 1 / 2 / 2 / 3;
	background-color: yellow;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 10fr;
	grid-row-gap: 5px;
}

.display-grid {
	grid-area: 2 / 1 / 3 / 2;
	width: 100%;
	height: 100%;
	background-color: #232C33;
}


/*menu-display*/
.menu-display-grid {
	grid-area: 1 / 1 / 2 / 2;
	background-color: #232C33;
	width: 100%;
	height: 100%;
}

.menu-opt-cont {
	margin-top: 20px;
	width: 100%;
}

.menu-btn-opt {
	font-size: 25px;
	width: 70%;
	background-color: #212A31;
	color: #DADFF7;
	border-radius: 5px;
}

.menu-btn-opt:hover {
	background-color: #313F49;
	color: #FFF8F0;
	border-radius: 10px;
}


/*menu-do / menu-preferences*/
.menu-top-grid {
	grid-area: 1 / 1 / 2 / 2;
	width: 100%;
	height: 100%;
	background-color: #232C33;
}

.menu-do-cont {
	padding-right: 10px;
}

.menuDo-opt-cont {
	margin-right: 10px;
}

.menuDo-btn-opt {
	font-size: 20px;
	background-color: #39393A;
	color: #FF206E;
	border: 1px solid #333333;
	border-radius: 10px;
	width: 150px;
}

.menuDo-btn-opt:hover {
	color: #FB5607;
	background-color: #4C4B63;
	border-color: #5386E4;
}

.menuDo-btn-opt:active {
	color: #FFBE0B;
	background-color: #626080;
	border-color: #1446A0;
	transition: 0s;
}

/*flex*/
.center-center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-row-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}
/*https://coolors.co/9dd9d2-ff312e-313f49-72b01d-fff8f0 -- color palette*/